@keyframes offset_right_adapted1280 {
  0% {
    margin-left: 255px;
  }
  50% {
    margin-left: 1000px;
    z-index: 2;
  }
  100% {
    margin-left: 255px;
    z-index: 4;
  }
}
@keyframes offset_left_adapted1280 {
  0% {
    margin-left: 0px;
  }
  50% {
    margin-left: -700px;
    z-index: 2;
  }
  100% {
    margin-left: 0px;
    z-index: 4;
  }
}
@media screen and (max-width: 1280px) and (min-width: 1024px) {
  .container {
    width: 1024px;
  }
  header .fixed {
    left: 0;
  }
  header .fixed .button_menu {
    display: block;
  }
  header .fixed .left_menu {
    display: block;
  }
  header .fixed .logo {
    margin-left: 200px;
  }
  header .fixed .horiz {
    display: none;
  }
  main .unique_design {
    height: 445px;
  }
  main .unique_design .img img {
    width: 1024px;
  }
  main .unique_design .img .left {
    margin-top: 250px;
    left: 50px;
  }
  main .unique_design .img .right {
    top: 250px;
    left: 900px;
  }
  main .unique_design .simple {
    top: 420px;
  }
  main .unique_design .unique_design_content {
    height: 445px;
  }
  main .unique_design .unique_design_content .design {
    margin-top: 100px;
    margin-left: 210px;
  }
  main .links {
    height: 473px;
  }
  main .links article {
    margin-top: 20px;
  }
  main .realization .browser_right {
    margin-left: 255px;
  }
  main .realization .browser_right:hover {
    animation: offset_right_adapted1280 1s 1;
  }
  main .realization .browser_left {
    margin-left: 0;
  }
  main .realization .browser_left:hover {
    animation: offset_left_adapted1280 1s 1;
  }
  main .projects {
    height: 862px;
  }
  main .projects .projects_articles {
    width: 1000px;
    height: 500px;
  }
  main .projects .projects_articles article {
    width: 270px;
    height: 237px;
  }
  main .projects .projects_articles article .projects_hover {
    width: 270px;
    height: 166px;
    margin-top: -170px;
    margin-bottom: 0px;
  }
  main .projects .projects_articles article .projects_footers {
    width: 270px;
    height: 70px;
  }
  main .projects .projects_articles article .projects_footers h4 {
    font-size: 14px;
    margin-top: 15px;
    margin-bottom: 14px;
    margin-left: 20px;
  }
  main .projects .projects_articles article .projects_footers p {
    font-size: 10px;
    margin-left: 20px;
  }
  main .excellent {
    height: 1700px;
  }
  main .excellent .content {
    margin-bottom: 50px;
  }
  main .excellent .excellent_footer article {
    width: 150px;
    margin-right: 20px;
  }
  main .recent .recent_articles {
    width: 800px;
    height: 600px;
  }
  main .recent .recent_articles article {
    width: 230px;
  }
  main .recent .recent_articles article .recent_article_img .date {
    margin-top: -130px;
  }
  main .recent .recent_articles article .recent_article_img .scale {
    margin-top: -160px;
    margin-left: 80px;
  }
  main .recent .recent_articles article h3 {
    margin-left: 20px;
    margin-top: -50px;
    font-size: 14px;
  }
  main .recent .recent_articles article .claritas {
    margin-top: 19px;
    margin-left: 29px;
    font-size: 12px;
  }
  main .recent .recent_articles article .read {
    margin-top: 27px;
    margin-left: 29px;
    font-size: 12px;
  }
  main .recent .recent_articles article .recent_article_hover {
    width: 230px;
    height: 137px;
    margin-top: -347px;
  }
  main .labels_pict {
    height: 650px;
  }
  main .labels_pict div {
    height: 650px;
  }
  main .labels_pict div img {
    margin-top: 100px;
    margin-right: 90px;
  }
  footer {
    height: 1100px;
  }
  footer .footer_info {
    height: 908px;
  }
  footer .footer_info .waxom {
    margin-top: 60px;
    margin-left: 176px;
  }
  footer .footer_info .recent_twitter {
    margin-top: 60px;
    margin-left: 170px;
  }
  footer .footer_info .dribbble {
    margin-top: 60px;
    margin-left: 170px;
  }
  footer .copyright {
    height: 180px;
  }
}
